.container {
  margin: 0 auto;
  max-width: 80rem;  

  > h1.title {
    margin-left: 1rem;
  }
}
.categories {
  background: #f0f0f0;
}

.header {
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  .fa {
    color: #34A00F;
  }
  .header__title {
    display: inline;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .header__nav {
    float: right;
    .fa {
      margin-right: 0.5rem;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
  }
  li:not(:first-child) {
    flex-grow: 1;
    flex-basis: auto;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
    border-left: 1px solid #ccc;
    background-color: #fff;
  }
}
.footer {
  border-top: 1px solid #000000;
  margin-top: 10rem;
  padding: 1rem 0 10rem;
}
.media__left {
  float: left;
  margin-right: 1rem;
}

label {
  font-size: 1rem;
}

.input__hint { 
  color:#999; 
  opacity:0; 
  
  transition: opacity .15s ease-in-out;
}

input:focus+.input__hint { 
  opacity: 1; 
}

h1.title {
  display: block;
}

thead tr {
  background-color: #34A00F;
  color: #ffffff;
}

tr {
  background: #ffffff;
  &:nth-child(even) {
    background: #f4f4f4;
  } 
  th {
    padding: 1.5rem 0.75rem 0.75rem;
    &:first-child {
      padding-left: 0.75rem;
    }
  }
  td {
    border-bottom: 0;    
    padding: 1rem;
    &:first-child,
    &:last-child {
      padding: 1rem;
    }
  }
  .actions {
    opacity: 0;
    transition: opacity .15s ease-in-out;
    i {
      cursor: pointer;
    }
  }
}

tbody tr:hover {
  background-color: #c5dfbc;
  .actions { 
    opacity: 1;
  }
}