.accordion {
  margin: 4rem auto;
  width: 100%;
}
.accordion__title {
  font-weight: bold;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  background: #f0f0f0;
  color: #000000;
  cursor: pointer;
  transition: .3s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #dcdcdc;
}
.accordion__title:hover {
  background: #d0d0d0;
}
.accordion__body {
  // display: none;
  border: 1px solid #dcdcdc;
  border-top: 0;
  border-bottom: 0;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s ease-out;
}

.accordion__copy {
  padding: 1rem 1.5rem 2rem 1.5rem;
}
.accordion__body--open {
  border-bottom: 1px solid #dcdcdc;
  overflow: auto;
  max-height: 500px;
}

.media__left {
  float: left;
  margin-right: 1rem;
}

.level {
  background: #f0f0f0;
  padding: 2rem 0;

  i {
    float: left;
    margin-right: 1rem;
  }
  .level__heading,
  .level__title {
    display: block;
    line-height: 0.25;
    margin-top: 0.75rem;
    white-space: nowrap;
  }
  .level__title {
    font-weight: bold;
  }
}

.breadcrumb {
  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }
  li {
    align-items: center;
    color: #34A00F;  
  }
  .breadcrumb__separator {
    margin: 0 0.5rem 0 1rem;
    color: #dbdbdb;
  }
  .breadcrumb--active {
    color: #000000;
  }
}

label {
  font-size: 1rem;
}

.input__hint { 
  color:#999; 
  opacity:0; 
  
  transition: opacity .15s ease-in-out;
}

input:focus+.input__hint { 
  opacity: 1; 
}

h1.title {
  display: block;
}

thead tr {
  background-color: #34A00F;
  color: #ffffff;
}

tr {
  background: #ffffff;
  &:nth-child(even) {
    background: #f4f4f4;
  } 
  th {
    padding: 1.5rem 0.75rem 0.75rem;
    &:first-child {
      padding-left: 0.75rem;
    }
  }
  td {
    border-bottom: 0;    
    padding: 1rem;
    &:first-child,
    &:last-child {
      padding: 1rem;
    }
  }
  .actions {
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }
}

tbody tr:hover {
  background-color: #c5dfbc;
  .actions { 
    opacity: 1;
  }
}