@import '~normalize.css';
@import '~milligram/src/_Color.sass';
@import '~milligram/src/_Grid.sass';
@import '~milligram/src/_Form.sass';
@import '~milligram/src/_Button.sass';
@import '~milligram/src/_Table.sass';
@import '~milligram/src/_Utility.sass';
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";